/*Reset*/
* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content:space-between;
    }
   .home {
        margin-left: 20px;
    }

    body, header {
        background: #3498DB;
        width: 100%;
    }
  }

body {
    background-color: rgb(211, 211, 211);
}

.container , header  {
    background: #3498DB;
    width: 1366px;
    height: 60px;
}

nav {
    padding-left: 70px;
    padding-right: 300px;
    padding-top: 20px;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}

main {
    margin-bottom: 100px;
    margin-right: 60px;
    margin-left: 30px;
}

 li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

div {
    width: 220px;
    height: 260px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;  
}

.gato-adocao:hover {
    background-color: #3498DB;
    color: #fff;
}

div > img {
    width: 197px;
    height: 132px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

h2 , p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
}
